:root {
  /* Primary */
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  /* Neutral */
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
  /* Fonts */
  --normal-font: 400 15px 'Lexend Deca', Arial, sans-serif;
  --big-font: 'Big Shoulders Display', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font: var(--normal-font);
  background-color: var(--very-light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main {
  display: flex;
  width: 70%;
  margin: auto;
  border-radius: 5px;
}

.card {
  padding: 3rem;
  position: relative;
}

.card:first-child {
  background-color: var(--bright-orange);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.card:nth-child(2) {
  background-color: var(--dark-cyan);
}

.card:last-child {
  background-color: var(--very-dark-cyan);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.logo {
  margin-bottom: 2rem;
}

.logo img {
  width: 6ch;
}

.title {
  color: var(--very-light-gray);
  font-family: var(--big-font);
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

p {
  color: var(--transparent-white);
  font-size: 0.9rem;
  line-height: 2em;
  width: 85%;
  margin-bottom: 5rem;
}

.more {
  background-color: var(--very-light-gray);
  outline: none;
  padding: 1rem 2rem;
  border-radius: 40px;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
}

.card:first-child .more {
  border: 2px solid var(--bright-orange);
  color: var(--bright-orange);
}

.card:first-child .more:hover {
  border-color: var(--very-light-gray);
  color: var(--very-light-gray);
  background-color: var(--bright-orange);
}


.card:nth-child(2) .more {
  border: 2px solid var(--dark-cyan);
  color: var(--dark-cyan);
}

.card:nth-child(2) .more:hover {
  border-color: var(--very-light-gray);
  color: var(--very-light-gray);
  background-color: var(--dark-cyan);
}

.card:last-child .more {
  border: 2px solid var(--very-dark-cyan);
  color: var(--very-dark-cyan);
}

.card:last-child .more:hover {
  border-color: var(--very-light-gray);
  color: var(--very-light-gray);
  background-color: var(--very-dark-cyan);
}

.attribution { 
  position: absolute;
  inset: auto auto 5px auto;
  width: 100%;
  font-size: 0.8rem;
  text-align: center;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .main {
    width: 80%;
  }
}
@media (max-width: 992px) {
  .main {
    width: 90%;
  }
}
@media (max-width: 768px) {
  body {
    display: block;
  }
  .main {
    width: 90%;
    flex-direction: column;
    margin-bottom: 3rem;
  }
  .more {
    bottom: 50px;
  }
  .attribution {
    position: relative;
  }
}
@media (max-width: 380px) {
  .attribution {
    font-size: 0.7rem;
  }
}